In [14]:
from decimal import Decimal

import pandas as pd
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("Data Processing").getOrCreate()

In [27]:
df_pd = pd.DataFrame({"numbers": ['0.1', '0.2', '0.3'], "letters": ["a", "b", "c"]})
df_pd2 = pd.DataFrame({"numbers": [0.1, 0.2, 0.3], "letters": ["a", "b", "c"]})

In [24]:
df_pd["numbers"] = df_pd["numbers"].apply(lambda x: Decimal(x) if x.replace(".", "").isdigit() else None)
df_pd

  numbers letters
0     0.1       a
1     0.2       b
2     0.3       c

In [25]:
df_ps = spark.createDataFrame(df_pd)
df_ps.show()

+--------------------+-------+
|             numbers|letters|
+--------------------+-------+
|0.100000000000000000|      a|
|0.200000000000000000|      b|
|0.300000000000000000|      c|
+--------------------+-------+

In [28]:
df_ps2 = spark.createDataFrame(df_pd2)
df_ps2.show()

+-------+-------+
|numbers|letters|
+-------+-------+
|    0.1|      a|
|    0.2|      b|
|    0.3|      c|
+-------+-------+

In [29]:
df_pd3 = pd.DataFrame({"numbers": ['0.1', '0.2', '0.3', ''], "letters": ["a", "b", "c", 'd']})
df_pd3["numbers"] = df_pd3["numbers"].apply(lambda x: Decimal(x) if x.replace(".", "").isdigit() else None)
df_pd3

  numbers letters
0     0.1       a
1     0.2       b
2     0.3       c
3    None       d

In [30]:
df_ps3 = spark.createDataFrame(df_pd3)
df_ps3.show()

+--------------------+-------+
|             numbers|letters|
+--------------------+-------+
|0.100000000000000000|      a|
|0.200000000000000000|      b|
|0.300000000000000000|      c|
|                NULL|      d|
+--------------------+-------+